@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	min-height: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: static;
	overscroll-behavior: contain;
}

body {
	--background: #0e0e10;   /* darker background */
	--foreground: #fdfdfd;   /* brighter white */
	--accent: #073d94;       /* blue (Tailwind's blue-500) */
}

/* Custom scrollbar styles */
@layer utilities {
	.scrollbar-thin::-webkit-scrollbar {
		width: 8px;
	}

	.scrollbar-thin::-webkit-scrollbar-track {
		background: #1a1a1a;
		border-radius: 10px;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb {
		background: #374151;
		border-radius: 10px;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb:hover {
		background: #4b5563;
	}
}
